<!DOCTYPE html>
<html>
  <head>
    <title>Results Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    
    <div class="centerBox">
    <h1>YOUR RESULTS</h1>
    
    <h3><%=@output[0]%></h3>
      
      <iframe width="560" height="315" src="<%=@output[1]%>" frameborder="0" allowfullscreen></iframe>
      
    </div>
  </body>
</html>